<h1>Registrace</h1>
<form action="/register" method="POST">
 <input type="text" name="username" placeholder="Uživatelské jméno" required>
 <input type="password" name="password" placeholder="Heslo" required>
 <button type="submit">Registrovat</button>
</form>