<% if (user) { %>
<form action="/logout" method="POST">
<button>Odhlásit se</button>
</form>
<% } else { %>
<a href="/login">Login</a>
<% } %>

<h1>Seznam zvířat</h1> 
<% animals.forEach(animal => { %> 
<div> 
<h2> 
<a href="/animals/<%= animal._id %>"> 
<%= animal.name %> 
</a> 
</h2> 
<p>Druh: <%= animal.species %></p> 
<p>Věk: <%= animal.age %></p> 
</div> 
<hr> 
<% }) %> 